button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 20px;
  flex-grow: 1;
  height: 100%;
  display: block;
  width: 100%;
  resize: vertical;
  padding-left: 10px;
}